# Hello World Program

In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World')

Hello World

In [73]:
Print("Hello world")    #  Python Case Sensitive

NameError: name 'Print' is not defined

# Input Output

In [74]:
p_name=input('Enter Your Name')
print('Hello',p_name)

Enter Your NameVishal
Hello Vishal

In [75]:
p_name=input('Enter Your Name \t')
print('Hello',p_name)
p_age=int(input('Enter Your age \t'))
print('Your Age is',p_age)

Enter Your Name 	Vishal
Hello Vishal
Enter Your age 	27
Your Age is 27

In [76]:
p_name=input('Enter Your Name \t')
print('Hello',p_name)
p_age=input('Enter Your age \t')
print(type(p_age))
age=int(p_age)
print(type(age))
print('Your Age is',p_age)

Enter Your Name 	Vishal
Hello Vishal
Enter Your age 	27
<class 'str'>
<class 'int'>
Your Age is 27

In [77]:
p_name=input('Enter Your Name \t')
print('Hello'+p_name)
p_age=input('Enter Your age \t')
print(type(p_age))
age=int(p_age)
print(type(age))
print('Your Age is'+p_age)

Enter Your Name 	vishal
Hellovishal
Enter Your age 	27
<class 'str'>
<class 'int'>
Your Age is27

# Arithmetic Operators

### Plus (+)

In [5]:
3+4     # Sum

7

In [7]:
'a' + 'b'   # Concat string

'ab'

In [8]:
'Vishal' + 'Sathawane'

'VishalSathawane'

In [9]:
'a' + 5

TypeError: must be str, not int

In [10]:
5 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Minus (-)

In [11]:
5-7

-2

In [12]:
9-2

7

### Multiply (*)

In [13]:
5 * 6

30

In [14]:
3.0 * 6

18.0

In [15]:
1.8 * 4.9

8.82

In [16]:
'a'*2

'aa'

In [17]:
'Vhs'*5

'VhsVhsVhsVhsVhs'

In [18]:
5**2

25

In [20]:
3**3

27

### Divide (/)

In [22]:
99/3

33.0

In [23]:
15/4

3.75

In [24]:
78/0

ZeroDivisionError: division by zero

In [25]:
0/5

0.0

In [26]:
### Modulo (%)

In [28]:
8%5

3

In [29]:
20 % 7

6

In [30]:
33               %               2

1

# Relational Operator

### Greater Than (>)

In [31]:
5>8

False

In [32]:
10>4

True

### Less Than (<)

In [33]:
7<10

True

In [34]:
8<8

False

### Lessthan Equal to (<=)

In [37]:
8<=9

True

In [38]:
9<=9

True

### Greater Than Equal To (>=)

In [41]:
9>=5

True

### Equal to Operator (==)

In [42]:
5==5

True

In [43]:
"vhs"=="vhs"

True

In [44]:
"Vhs"=="vhs"   # Python is very Case sensitive

False

### Not Equal to (!=)

In [45]:
5!=5

False

In [46]:
"Vhs"!="vhs"

True

# Assignment operator (=)

In [47]:
a=7
b=9
print(a)
print(b)
print(a+b)

7
9
16

In [48]:
s1="Techera"
s2="techera"
s1==s2

False

# Logical Operator  (or,and,not)

### Not (Boolean Not)

In [49]:
x=True
print(not(x))

False

### And (Boolean And)

In [50]:
x=True
y=False
print(x and y)

False

In [51]:
x=True
y=True
print(x and y)

True

In [52]:
m=False
x=True
y=True
print(m and x and y)   # Short-circuit Evaluation

False

### Or (Boolean or)

In [53]:
x=True
y=False
print(x or y)

True

In [54]:
x=False
y=False
print(x or y)

False

# Control Statement

### if statement

In [56]:
a=4
if a==4:
    print('Condition is true')            # indentation
    print('Sample Statment')

Condition is true
Sample Statment

In [57]:
a=4
if a<=5:
    print('Condition is true')
print('Sample Statment')

Condition is true
Sample Statment

In [58]:
a=4
if a>=5:
    print('Condition is true')
print('Sample Statment')

Sample Statment

### if---Else Statement

In [60]:
a=4
if a>=5:
    print('Condition is true')
else:
    print('Condition is false')

Condition is false

In [61]:
a=0
if a==0:
    print('I am in IF Block')
else:
    print('I am in ELSE Block')
print('Another Statement')

I am in IF Block
Another Statement

### Nested if

In [64]:
a=3
if a>0:
    print('I am in IF Block')
    if a>3:
        print('I am in 2nd IF')
    else:
        print('I am in Else a<=3')
else:
    print('I am in ELSE Block')
    print('Another Statement')

I am in IF Block
I am in Else a<=3

### elif statement

In [63]:
a=3
if a<3:
    print("a is greater than 3")
elif a<3:
    print("a is less than 3")
else:
    print("a is equal to 3")

a is equal to 3

### For loop

In [66]:
n=11
for i in range(1,n,2):
    print(i)
print('All Numbers are ODD')

1
3
5
7
9
All Numbers are ODD

In [67]:
n=1
for i in range(10,n,-2):
    print(i)
print('All Numbers are EVEN in Reverse')

10
8
6
4
2
All Numbers are EVEN in Reverse

In [68]:
n=0
for i in range(11,n,-2):
    print(i)
print('All Numbers are ODD in Reverse')

11
9
7
5
3
1
All Numbers are ODD in Reverse

### While Loop

In [ ]:
n=1
i=5
while(i>=n):
    print(i)
    i-=1

### use of Break

In [70]:
for letter in "Python":
    if letter=='h':
        break
    print('Current Letter = ',letter)
print('Out of For')

Current Letter =  P
Current Letter =  y
Current Letter =  t
Out of For

### use of Continue

In [71]:
for letter in "Python":
    if letter=='P':
        continue
    print('Current Letter = ',letter)

Current Letter =  y
Current Letter =  t
Current Letter =  h
Current Letter =  o
Current Letter =  n

In [72]:
for letter in "Python":
    if letter=='P':
        continue
    print(letter,end='')

ython