In [98]:
#cour=open("Students.txt",'r')
#f = open("add.txt","a") 
#grad=open("Grades.txt",'r')
#file1=cour.read()
#print(file1)
cour=[['SLY2301', 'Hannah Abbott'],
['SLY2302', 'Euan Abercrombie'],
['SLY2303', 'Stewart Ackerley'],
['SLY2304', 'Bertram Aubrey'],
['SLY2305', 'Avery'],
['SLY2306', 'Malcolm Baddock'],
['SLY2307', 'Marcus Belby'],
['SLY2308', 'Katie Bell'],
['SLY2309', 'Sirius Orion Black']]
for line in cour:
    sum=0
    count=0
    #f1=line.split('~')
    #print(f1)
    #grad=open("Grades.txt",'r')
    grad=[['TRAN', '1', '2011-2012', 'SLY2301', 'AB\n'],
    ['TRAN', '1', '2011-2012', 'SLY2302', 'B\n'],
    ['TRAN', '1', '2011-2012', 'SLY2303', 'B\n'],
    ['TRAN', '1', '2011-2012', 'SLY2305', 'A\n'],
    ['TRAN', '1', '2011-2012', 'SLY2306', 'BC\n'],
    ['TRAN', '1', '2011-2012', 'SLY2308', 'A\n'],
    ['TRAN', '1', '2011-2012', 'SLY2309', 'AB\n'],
    ['CHAR', '1', '2011-2012', 'SLY2301', 'A\n'],
    ['CHAR', '1', '2011-2012', 'SLY2302', 'BC\n'],
    ['CHAR', '1', '2011-2012', 'SLY2303', 'B\n'],
    ['CHAR', '1', '2011-2012', 'SLY2305', 'BC\n'],
    ['CHAR', '1', '2011-2012', 'SLY2306', 'C\n'],
    ['CHAR', '1', '2011-2012', 'SLY2307', 'B\n'],
    ['CHAR', '1', '2011-2012', 'SLY2308', 'AB\n']]
    for line2 in grad:
        #f2=line2.split('~')
        #print(f2[3])
        if(line[0]==line2[3]):
            #print('True',f1[0],'',f2[3])
            if(line2[4]=='A\n'):
                sum=sum+10
                count=count+1
            elif(line2[4]=='AB\n'):
                sum=sum+9
                count=count+1
            elif(line2[4]=='B\n'):
                sum=sum+8
                count=count+1
            elif(line2[4]=='BC\n'):
                sum=sum+7
                count=count+1
            elif(line2[4]=='C\n'):
                sum=sum+6
                count=count+1
            elif(line2[4]=='CD\n'):
                sum=sum+5
                count=count+1
            elif(line2[4]=='D\n'):
                sum=sum+4
                count=count+1
    if count==0:
        result=sum
    else:
        result=sum/count
    result1=str(result)
    #f = open("add.txt","w") #create add file in write mode.
    
    out=("{0}~{2}~{1}".format(line[0],result1,line[1]))
    print(out)
    #f. write(out)
    #f. close() #closing file object.

SLY2301~Hannah Abbott~9.5
SLY2302~Euan Abercrombie~7.5
SLY2303~Stewart Ackerley~8.0
SLY2304~Bertram Aubrey~0
SLY2305~Avery~8.5
SLY2306~Malcolm Baddock~6.5
SLY2307~Marcus Belby~8.0
SLY2308~Katie Bell~9.5
SLY2309~Sirius Orion Black~9.0

In [95]:
cour=open("Students.txt",'r')
#red=cour.read()
for i in cour:
    f3=i.split('~')
    print(f3)
grad=open("Grades.txt",'r')
#red=cour.read()
for i in grad:
    f3=i.split('~')
    print(f3)

['SLY2301', 'Hannah Abbott\n']
['SLY2302', 'Euan Abercrombie\n']
['SLY2303', 'Stewart Ackerley\n']
['SLY2304', 'Bertram Aubrey\n']
['SLY2305', 'Avery\n']
['SLY2306', 'Malcolm Baddock\n']
['SLY2307', 'Marcus Belby\n']
['SLY2308', 'Katie Bell\n']
['SLY2309', 'Sirius Orion Black\n']
['TRAN', '1', '2011-2012', 'SLY2301', 'AB\n']
['TRAN', '1', '2011-2012', 'SLY2302', 'B\n']
['TRAN', '1', '2011-2012', 'SLY2303', 'B\n']
['TRAN', '1', '2011-2012', 'SLY2305', 'A\n']
['TRAN', '1', '2011-2012', 'SLY2306', 'BC\n']
['TRAN', '1', '2011-2012', 'SLY2308', 'A\n']
['TRAN', '1', '2011-2012', 'SLY2309', 'AB\n']
['CHAR', '1', '2011-2012', 'SLY2301', 'A\n']
['CHAR', '1', '2011-2012', 'SLY2302', 'BC\n']
['CHAR', '1', '2011-2012', 'SLY2303', 'B\n']
['CHAR', '1', '2011-2012', 'SLY2305', 'BC\n']
['CHAR', '1', '2011-2012', 'SLY2306', 'C\n']
['CHAR', '1', '2011-2012', 'SLY2307', 'B\n']
['CHAR', '1', '2011-2012', 'SLY2308', 'AB\n']

In [93]:
cour=[['SLY2301', 'Hannah Abbott\n'],
['SLY2302', 'Euan Abercrombie\n'],
['SLY2303', 'Stewart Ackerley\n'],
['SLY2304', 'Bertram Aubrey\n'],
['SLY2305', 'Avery\n'],
['SLY2306', 'Malcolm Baddock\n'],
['SLY2307', 'Marcus Belby\n'],
['SLY2308', 'Katie Bell\n'],
['SLY2309', 'Sirius Orion Black\n']]
for i in cour:
    print(i[0])
grad=[['TRAN', '1', '2011-2012', 'SLY2301', 'AB\n'],
['TRAN', '1', '2011-2012', 'SLY2302', 'B\n'],
['TRAN', '1', '2011-2012', 'SLY2303', 'B\n'],
['TRAN', '1', '2011-2012', 'SLY2305', 'A\n'],
['TRAN', '1', '2011-2012', 'SLY2306', 'BC\n'],
['TRAN', '1', '2011-2012', 'SLY2308', 'A\n'],
['TRAN', '1', '2011-2012', 'SLY2309', 'AB\n'],
['CHAR', '1', '2011-2012', 'SLY2301', 'A\n'],
['CHAR', '1', '2011-2012', 'SLY2302', 'BC\n'],
['CHAR', '1', '2011-2012', 'SLY2303', 'B\n'],
['CHAR', '1', '2011-2012', 'SLY2305', 'BC\n'],
['CHAR', '1', '2011-2012', 'SLY2306', 'C\n'],
['CHAR', '1', '2011-2012', 'SLY2307', 'B\n'],
['CHAR', '1', '2011-2012', 'SLY2308', 'AB\n']]

SLY2301
SLY2302
SLY2303
SLY2304
SLY2305
SLY2306
SLY2307
SLY2308
SLY2309

In [21]:
fcount=[]
arr=[]
n=int(input())
for i in range(0,n,1):
    arr.append(int(input()))
##################################
for j in range(0,n,1):
    for l in range(0,n,1):
        count=0
        ele=arr[j]
        for k in range(l,n,1):
            #print(k)
            if(arr[k]%ele==0):
                count=count+1
                #print("  ",count," ",arr[k]," ",ele," ",j," ",k)
                ele=arr[k]

        fcount.append(count)   
maximum=max(fcount)
print(maximum)

14
2
11
16
12
36
60
71
17
29
144
299
129
432
993
4

In [55]:
help(f.write)

Help on built-in function write:

write(text, /) method of _io.TextIOWrapper instance
    Write string to stream.
    Returns the number of characters written (which is always equal to
    the length of the string).